<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edouard Schweisguth</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<meta name="viewport" content="width=device-width,initial-scale=1">

 </script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="mainController">
	<ul id="menu-top">
		<li class="hamburger">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</li>
		<li class="onglet hidden">
			<span><a href="#pos-accueil">Accueil</a></span>
		</li>
		<li class="onglet hidden">
			<span><a href="#pos-informations">Informations</a></span>
		</li>
		<li class="onglet hidden">
			<span><a href="#pos-projets">Projets</a></span>
		</li>
		<li class="onglet hidden">
			<span><a href="#pos-cv">CV</a></span>
		</li>
		<li class="onglet hidden">
			<span><a href="#pos-contacts">Contacts</a></span>
		</li>
		</li>
		<li class="onglet hidden">
			<span ng-if="userNormalizedLang == 'fr'" ng-click="setLang('en')">Switch to English <img src="assets/imgs/en.svg" class="lang"></span>
			<span ng-if="userNormalizedLang == 'en'" ng-click="setLang('fr')">Passer en Français <img src="assets/imgs/fr.svg" class="lang"></span>
		</li>
	</ul>
	<div id="menu-side">
		<div class="onglet" id="accueil">
			<a href="#pos-accueil" ng-if="userNormalizedLang == 'fr'" >Accueil</a>
			<a href="#pos-accueil" ng-if="userNormalizedLang == 'en'"> Home</a>
		</div>
		<div class="onglet" id="informations">
			<a href="#pos-informations" >Informations</a>
		</div>
		<div class="onglet" id="projets">
			<a href="#pos-projets" ng-if="userNormalizedLang == 'fr'">Projets</a>
			<a href="#pos-projets" ng-if="userNormalizedLang == 'en'">Projects</a>
		</div>
		<div class="onglet" id="cv">
			<a href="#pos-cv">CV</a>
		</div>
		<div class="onglet" id="contacts">
			<a href="#pos-contacts">Contacts</a>
		</div>
	</div>

	<div class="container fullscreen  blue" id="pos-accueil">

		<div class="langs front">
			<img ng-if="userNormalizedLang == 'fr'" src="assets/imgs/en.svg" ng-click="setLang('en')" class="lang" />
			<img ng-if="userNormalizedLang == 'en'" src="assets/imgs/fr.svg" ng-click="setLang('fr')" class="lang"/>
		</div>
		<div class="title front">
			<div class="main-title">
				<h1>Edouard Schweisguth</h1>
				<div class="underline"></div>
			</div>
		</div>

		<div class="text front">
			<p class="main-description" ng-bind-html="description[userNormalizedLang]  | to_trusted"></p>
		</div>
	</div>

	<div class="container fullscreen front dark" id="pos-informations">
		<div class="title">
			<div class="main-title">
				<h2>Informations</h2>
			</div>
		</div>
		<div class="text">
			<p class="description" ng-bind-html="informations[userNormalizedLang]  | to_trusted"></p>
		</div>
	</div>
	
	<div class="container fullscreen dark front" id="pos-projets">
		<div class="title">
			<div class="main-title">
				<h2 ng-if="userNormalizedLang == 'fr'">Projets</h2>
				<h2 ng-if="userNormalizedLang == 'en'">Projects</h2>
			</div>
		</div>
		<div class="projets front">
			<div class="projet-left">
				<div  ng-repeat="projet in projetLeft">
					<div class="projet"  id="{{projet.id}}">
						<div class="projet-main-box">
							<div class="projet-title">
								{{projet.title}}
							</div>
							<div class="projet-date">
								{{projet.date}}
							</div>
						</div>
						<div ng-if="projet.buttons.github !== undefined">
							<div class="btn github-block">
								<a ng-href="{{projet.buttons.github}}">Github</a>
							</div>
						</div>
						<div ng-if="projet.buttons.demo !== undefined">
							<div class="btn demo">
								<a ng-href="{{projet.buttons.demo}}">Demo</a>
							</div>
						</div>
						<div class="projet-desc" ng-bind-html="projet.description[userNormalizedLang] | to_trusted"></div>
						<div class="tech">
							<ul class="tags">
								<li ng-repeat="tag in projet.tags"><a ng-href="{{tags[tag].link}}">{{tags[tag].title}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="projet-right">
				<div class="projet" ng-repeat="projet in projetRight" id="{{projet.id}}">
					<div class="projet-main-box">
						<div class="projet-title">
							{{projet.title}}
						</div>
						<div class="projet-date">
							{{projet.date}}
						</div>
					</div>
					<div ng-if="projet.buttons.github !== undefined">
						<div class="btn github-block">
							<a ng-href="{{projet.buttons.github}}">Github</a>
						</div>
					</div>
					<div ng-if="projet.buttons.demo !== undefined">
						<div class="btn demo">
							<a ng-href="{{projet.buttons.demo}}">Demo</a>
						</div>
					</div>
					<div class="projet-desc" ng-bind-html="projet.description[userNormalizedLang] | to_trusted"></div>
					<div class="tech">
						<ul class="tags">
							<li ng-repeat="tag in projet.tags"><a ng-href="{{tags[tag].link}}">{{tag}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container fullscreen front dark" id="pos-cv">
		<div class="title">
			<div class="main-title">
				<h2>Curriculum Vitae</h2>
			</div>
		</div>

		<div class="cv">
			<div ng-if="userNormalizedLang == 'fr'">
				<div class="cv-box"> 
					<a class="cv-btn" href="cv_fr.pdf">Télécharger</a>
					<div class="cv-exp">
						Version imprimable (pdf)
					</div>
				</div>
			</div>
			<div ng-if="userNormalizedLang == 'en'">
				<div class="cv-box">
					<a class="cv-btn" href="cv_en.pdf">Download</a>
					<div class="cv-exp">
						Printable version (pdf)
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container fullscreen  blue" id="pos-contacts">
		<div class="title front">
			<div class="main-title">
				<h2>Contacts</h2>
			</div>
		</div>
		<div class="contact-box front">
			<div class="social">
				<a href="https://github.com/edznux">Github</a>
				<a href="mailto:edouard.schweisguth1@gmail.com" class="split">Email</a>
				<a href="https://twitter.com/edznux">Twitter</a>
			</div>
		</div>
	</div>
	<canvas id="canvas"></canvas>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>
