html,
body {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Roboto';
  color: #FFF;
}
.container {
  float: left;
  display: block;
  height: 100vh;
  top: 0;
  bottom: 0;
  width: 100%;
  position: relative;
}
#canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.13;
}
@media (min-width: 800px) {
  #menu-side {
    position: fixed;
    top: 30%;
    color: #212121;
    width: 10%;
    min-width: 150px;
    right: 0px;
    z-index: 5;
  }
  #menu-top {
    display: none;
  }
  .onglet {
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.75);
    transition: 1s;
    margin: 10px;
    padding: 10px;
    background-color: #FFF;
  }
}
@media (max-width: 799px) {
  #menu-side {
    display: none;
  }
  .onglet {
    width: 100%;
    color: #000;
    border: 1px solid #F50;
    text-decoration: none;
    list-style-type: none;
    background-color: #fff;
  }
}
.onglet-select {
  transform: translate(-20px, 0);
}
.onglet-deep {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
}
.title {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}
.main-title {
  margin: 0 auto;
  display: inline-block;
}
.main-title > h1 {
  font-size: 4.5em;
  font-weight: 300;
  margin-bottom: 0.1em;
}
.main-title > h2 {
  font-size: 4.5em;
  font-weight: 200;
  margin-bottom: 0.1em;
}
.text {
  width: 35%;
  margin-top: 100%;
  margin: 0 auto;
  z-index: 4;
  text-align: justify;
}
p.main-description {
  font-size: 1.5em;
  text-justify: inter-word;
  line-height: 1.3em;
  z-index: 4;
}
p.description {
  font-size: 1.4em;
  text-justify: inter-word;
  line-height: 1.2em;
  font-weight: 300;
  z-index: 4;
}
.cv {
  float: left;
  width: 45%;
}
.cv-btn {
  background-color: #FFF;
  color: #212121;
  width: 300px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 300;
  float: left;
}
.fullscreen {
  min-height: 100vh;
}
.front {
  z-index: 4 !important;
}
.blue {
  background-color: #1049a1;
}
.dark {
  background-color: #212121;
}
.underline {
  width: 90%;
  margin-left: 5%;
  height: 2px;
  background-color: #FFF;
}
.nodejs {
  color: #80bd01;
}
.angular {
  color: #ff4040;
}
.sails {
  color: #41bac2;
}
